*{
    margin: 0px;
    padding: 0;
    font-family: century Gothic;
    
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(photo/bgg9.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
ul{
    text list-style-type: none;
    float: right;
    margin-top: 10px;
    padding: 0px;
    list-style: none;
}
ul li{
    display: inline-block;
    font-family: century gothic;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}
ul li a{
    text-decoration:none;
    color: #fff;
    padding:  5px 10px;;
    border: 1px solid  transparent;
    transition: 0.5s ease;
    margin-top: 10px;
    border-radius: 7px;
    display: block;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
    text-decoration:none;
    margin-top: 10px;
}
ul li ul li{
    display: none;
} 
ul li:hover ul li{
    display: block;
}
.logo img{
    float: left;
    width: 250px;
    height: auto;
    margin-top: 20px;
}
.main{
    width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.title h1{
    color: #fff;
    font-size: 60px;
    font-family: Comic Sans MS;
    letter-spacing: 15px;
}
.button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.btn{
    border: 1px solid #fff;
    padding: 18px 40px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
    border-radius: 10px;
    
    
}

.btn:hover{
    background-color: #fff;
    color: #000;
}


.containar{
    position: 
}

















